{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content-title %} 
<h2>{{ title }}</h2>
<p>
  Written on: {{ publishDate | date('F jS, Y') }}
  {% for rev in revisions %}
  {% if loop.last %}
  | Last revised on: {{ rev.date | date('F jS, Y') }}
  {% endif %}
  {% endfor %}
</p>
{% endblock %}

{% block content %}
{{ contents | safe }}

{% for rev in revisions %}

{% if loop.first %}
<h4>Revisions:</h4>
<dl class="dl-horizontal">
{% endif %}
  <dt>{{ rev.date | date('F jS, Y') }}</dt>
  <dd>{{ rev.detail }}</dd>
{% if loop.last %}
</dl>
{% endif %}

{% endfor %}

{% endblock %}
